@import "./colors.scss";

//function for mobile
@function vh($quantity) {
  @return calc(var(--vh, 1vh) * #{$quantity});
}

.app-container {
  background-color: $ui-dark-gray;
  height: vh(100);
  display: grid;
  grid-template-columns: 400px 1fr 1fr;
  grid-template-rows: 115px 1fr 1fr;
}

@media (max-width: $desktop) {
  .app-container {
    grid-template-columns: 400px 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}

@media (max-width: $mobile-small) {
  .app-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
