.home-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
}

.home-container > :nth-child(1) {
  min-height: 40%;
  min-width: 100%;
  background-color: $ui-dark-gray;
}
.home-container > :nth-child(2) {
  min-height: 50%;
  min-width: 100%;
  background-color: $ui-black;
}
.home-container > :nth-child(3) {
  min-height: 10%;
  height: 10%;
  min-width: 100%;
  background-color: $pp-rose;
}

.header-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.home-logo-container {
  display: flex;
  margin: 20px auto;
  max-width: 1000px;

  @media (max-width: $mobile-small) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

header {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  color: $pp-rose;
  font-size: 3rem;
  text-align: center;

  @media (max-width: $desktop) {
    font-size: 2rem;
  }

  @media (max-width: $mobile-small) {
    font-size: 1.5rem;
  }
}

.home-logo {
  min-width: 200px;
  width: 200px;

  @media (max-width: $mobile) {
    min-width: 150px;
    width: 150px;
  }

  @media (max-width: $mobile) {
    min-width: 130px;
    width: 130px;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}

.header-container {
  display: flex;
  align-items: center;
}

.home-search-container {
  width: 100%;
  max-width: 1000px;
}

.home-general-search-container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  justify-content: space-evenly;

  aside {
    padding: 20px 10px;
    color: white;
    width: 250px;
    display: flex;
    flex-direction: column;

    h2 {
      text-align: center;
    }
  }
}

footer {
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  max-width: 1200px;
}

.footer-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 15px;

  div {
    color: $ui-white;
  }

  div:first-child,
  div:nth-child(2) {
    display: flex;
    align-items: center;

    a > img {
      height: 50px;
    }
  }

  @media (max-width: $mobile) {
    div:nth-child(2) {
      display: none;
    }
  }
}

.footer-links {
  li {
    margin-top: 5px;
  }

  li:hover {
    color: $ui-dark-gray;
    cursor: pointer;
  }
}
