.map {
  grid-column: 1 / span 3;
  grid-row: 1 / span 3;

}

.mapboxgl-popup {
  pointer-events: none;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
  border-bottom-color: rgba(0, 0, 0, 0.8);
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
  border-top-color: rgba(0, 0, 0, 0.8);
}

.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-right-color: rgba(0, 0, 0, 0.8);
}

.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: rgba(0, 0, 0, 0.8);
}
.mapboxgl-popup-content {
  background: rgba(0, 0, 0, 0.8);
  max-width: 300px;
  padding: 4px;
  color: #fff;
  font-size: 10px;
  pointer-events: none;
  z-index: 9;
}
