/*Styles for the non-map pages.*/

.page-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
}

.page-container > :nth-child(1) {
  min-height: 40%;
  min-width: 100%;
  background-color: $ui-dark-gray;
}

.page-container > :nth-child(2) {
  min-height: 50%;
  min-width: 100%;
  background-color: $ui-black;
}

.page-container > :nth-child(3) {
  min-height: 10%;
  min-width: 100%;
  background-color: $pp-rose;
}

.page-content-container {
  display: unset;
  position: absolute;
  height: 90%;
  margin: 0 auto;
  width: 90%;
  max-width: 1000px;
  background-color: $ui-white;
  opacity: 0.5;
}

/* Override the page content styles
for pages other than Home. */
.top-container {
  height: 10%;
  min-height: 10% !important;
  display: flex;
  align-items: center;
  a {
    height: 100%;
  }

  div {
    flex: 1;
    text-align: center;
  }

  div > h1 {
    color: $pp-rose;
    text-transform: uppercase;
    font-size: 3rem;

    @media (max-width: $mobile) {
      font-size: 2rem;
    }

    @media (max-width: $mobile-small) {
      font-size: 1.5rem;
    }
  }
}

.top-logo {
  margin-left: 25px;
  height: 100%;
  min-width: 95px;
  display: flex;
  align-items: center;

  img {
    height: 90%;
  }
}

.middle-container {
  min-height: 80% !important;
  display: flex;
  flex-direction: column;

  div {
    margin: 0 auto;
    max-width: 1000px;
    font-size: 1.4rem;

    img {
      margin-top: 15px;
      height: 200px;
    }

    p {
      padding: 0 30px;
      color: $ui-white;

      a {
        cursor: pointer;
      }
    }

    @media (max-width: $mobile) {
      font-size: 1.2rem;
    }
  }
}

/*All links*/
li {
  margin-top: 5px;
}

li > a,
li > a:visited {
  color: $ui-white;
}

li > a:hover,
li > a:active {
  color: $ui-dark-gray;
  cursor: pointer;
}
