@import "./colors.scss";

.results-container-enter {
    height: 100%;
    width: 0;
    z-index: 10000;
    position: absolute;
    right: 0;
    top: 0;
    background-color: white;
    display: flex;
    overflow: auto;
  }
  
  .results-container-enter-active,
  .results-container-enter-done {
    height: 100%;
    width: 350px;
    z-index: 1000;
    position: absolute;
    right: 0;
    top: 0;
    background-color: white;
    transition: width 300ms;
    border-radius: 4px 0 0 4px;
    box-shadow: -10px 0 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: auto;
  }
  
  .results-container-exit {
    height: 100%;
    width: 350px;
    z-index: 1000;
    position: absolute;
    right: 0;
    top: 0;
    background-color: white;
    border-radius: 4px 0 0 4px;
    box-shadow: -10px 0 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: auto;
  }
  
  .results-container-exit-active {
    height: 100%;
    width: 0;
    z-index: 10000;
    position: absolute;
    right: 0;
    top: 0;
    background-color: white;
    transition: width 300ms;
    overflow: auto;
  }


///address results
.results-container-open {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  background-color: white;
  z-index: 50;
}


.results-container-closed {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    background-color: white;
    z-index: 50;
  }

