/*----- visible only on map -----*/
.search-grid-item {
  grid-row: 1;
  grid-column: 1;
  z-index: 100;
  margin: 20px 10px 0 10px;
}

/*--- visible only on home ---*/
.search-modal-item {
  max-width: 1000px;
  z-index: 100;
  width: 95%;
  margin: 0 auto;

  @media (max-width: $mobile) {
    width: 98%;
    margin-bottom: 10px;
  }
}

@media (max-width: $mobile) {
  .search-grid-item {
    grid-column: 1 / span 3;
    margin: auto 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.search-container {
  width: 100%;
  // box-shadow: 8px 8px 10px 0 rgba(0, 0, 0, 0.3);
  margin: 0 auto;
}

// search options
.search-options {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row nowrap;
  width: 100%;
  border-top: $ui-black solid 2px;
  border-right: $ui-black solid 2px;
  border-left: $ui-black solid 2px;
  box-sizing: border-box;

  div {
    color: $ui-white;
    background-color: $ui-dark-gray;
    padding: 5px;
    width: 25%;
    text-align: center;
    cursor: pointer;
    border-top: $ui-black solid 2px;
    border-right: $ui-black solid 2px;
    border-left: $ui-black solid 2px;
  }

  div:hover {
    border: $ui-white solid 1px;
  }

  div:active {
    transform: translateY(+1px);
  }
}

// search bar
.search-bar {
  width: 100%;
  display: flex;
}

input[type="text"] {
  flex: 1;
  padding: 12px 20px;
  box-sizing: inherit;
  border: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  outline: none;
}

.search-form {
  display: flex;
  flex: 1;
  width: 100%;
  box-sizing: border-box;
  border-top: 4px solid $ui-black;
  border-bottom: 4px solid $ui-black;
  border-left: 2px solid $ui-black;
  border-right: 4px solid $ui-black;
}

// styles for the home search button
.search-form-home {
  display: flex;
  flex: 1;
  box-sizing: border-box;
  border-top: 4px solid $ui-black;
  border-right: 4px solid $ui-black;
  border-bottom: 4px solid $ui-black;
  border-left: 2px solid $ui-black;
}

.search-form:focus-within,
.search-form-home:focus-within {
  border-top: 4px solid $pp-rose;
  border-right: 4px solid $pp-rose;
  border-bottom: 4px solid $pp-rose;
  border-left: 4px solid $pp-rose;
  box-sizing: border-box;
  z-index: 200;
}

// search button
.search-button {
  box-sizing: inherit;
  background: $ui-white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  img {
    min-width: 40px;
    min-height: 40px;
    width: 40px;
    height: 40px;
    border: none;
  }
}

.clear-button {
  padding-left: 5px;
  box-sizing: inherit;
  background: $ui-white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 45px;
  color: $ui-dark-gray;
}

.year-select {
  // position: relative;
  // left: 4px;
  background-color: $ui-white;
  min-width: 60px;
}

.year-select > select {
  padding: 0 5px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background-color: $ui-white;
  outline: 0px;
  border-top: 4px solid $ui-black;
  border-left: 4px solid $ui-black;
  border-bottom: 4px solid $ui-black;
  border-right: 2px solid $ui-black;
}

.year-select > select:focus,
.year-select > select:active {
  border-top: 4px solid $pp-rose;
  border-left: 4px solid $pp-rose;
  border-bottom: 4px solid $pp-rose;
  border-right: 4px solid $pp-rose;
}

select > option {
  background-color: $ui-white;
}

//search results
//part of CSS Transition
.partial-results-container {
  max-height: 40vh;
  display: flex; /*added*/
  flex-direction: column;
  overflow: auto;
  border-left: 4px solid $ui-black;
  border-right: 4px solid $ui-black;
  border-bottom: 4px solid $ui-black;
  ul > a > li {
    display: flex;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    align-items: center;
    color: $ui-black;
  }

  ul > a > li:hover {
    border: 1px solid $ui-black;
  }

  ul > a > li > img {
    height: 30px;
    margin-right: 20px;
  }
}

.list-item-odd {
  background-color: $ui-white;
}

.list-item-even {
  background-color: $ui-light-gray;
}

.full-results-container {
  max-height: 70vh;
  display: flex; /*added*/
  flex-direction: column;
  overflow: auto;
}

.partial-results-container-all {
  // max-height: 62vh;
  overflow: auto;

  /////////////////////adds
  max-height: 300px;
  display: flex;
  width: 100%;

  .partial-results-combined {
    flex: 1;
  }

  .partial-results-spacer {
    min-width: 72px;
  }
  //////////////////////

  section > .partial-results-container {
    max-height: none !important;
  }
}

.partial-results-all-title {
  text-align: center;
  background-color: $ui-white;
  padding: 5px;
  font-size: 1.1rem;
  font-weight: 500;
}
