@import "./colors.scss";

.search-grid-item {
  grid-row: 1;
  grid-column: 1;
  z-index: 100;
  margin: 20px 20px 0 20px;
}

/*--- Visible only on modal ---*/
.search-modal-item {
  z-index: 100;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 700px) {
  .search-grid-item {
    // grid-row: 1;
    grid-column: 1 / span 3;
    margin: auto 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.search-container {
  width: 100%;
  box-shadow: 8px 8px 10px 0 rgba(0, 0, 0, 0.3);
}

//search options
.search-options {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row nowrap;
  width: 100%;

  div {
    border: $ui-black solid 2px;
    color: $ui-white;
    background-color: $ui-dark-gray;
    padding: 5px;
    border-radius: 5px 5px 0 0;
    width: 25%;
    text-align: center;
    cursor: pointer;
  }

  div:hover {
    border: $ui-white solid 1px;
  }

  div:active {
    transform: translateY(+1px);
  }
}

//search bar
.search-bar {
  width: 100%;
  // height: 100%;
  display: flex;
}

input[type="text"] {
  // width: 90%;
  flex: 1;
  padding: 12px 20px;
  box-sizing: inherit;
  border: 3px solid yellow;
  border: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  outline: none;
}

.search-form {
  display: flex;
  // height: 50px;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 3px solid $ui-black;
  border-left: 3px solid $ui-black;
  border-right: 3px solid $ui-black;
}

// styles for the home search button
.search-form-home {
  display: flex;
  height: 50px;
  width: 92%;
  box-sizing: border-box;
  border-top: 2px solid $ui-black;
  border-right: 2px solid $ui-black;
  border-bottom: 2px solid $ui-black;
  border-left: 1px solid $ui-black;
}

.search-form:focus-within,
.search-form-home:focus-within {
  border-top: 2px solid $pp-rose;
  border-right: 2px solid $pp-rose;
  border-bottom: 2px solid $pp-rose;
  border-left: 2px solid $pp-rose;
  box-sizing: border-box;
}

// search button
.search-button {
  box-sizing: inherit;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  img {
    width: 40px;
    height: 40px;
    border: none;
  }
}

.clear-button {
  box-sizing: inherit;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 45px;
  color: $ui-dark-gray;
}

.year-select {
  background-color: $ui-white;
  width: 8%;
  min-width: 60px;
}

.year-select > select {
  padding-left: 5px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background-color: $ui-white;
  outline: 0px;
  border-top: 2px solid $ui-black;
  border-left: 2px solid $ui-black;
  border-bottom: 2px solid $ui-black;
  border-right: 1px solid $ui-black;
}

.year-select > select:focus,
.year-select > select:active {
  border-top: 2px solid $pp-rose;
  border-left: 2px solid $pp-rose;
  border-bottom: 2px solid $pp-rose;
  border-right: 2px solid $pp-rose;
}

select > option {
  background-color: $ui-white;
}

//search results
//part of CSS Transition
.partial-results-container {
  max-height: 62vh;
  display: flex; /*added*/
  flex-direction: column;
  overflow: auto;
  a > div {
    display: flex;
    width: 100%;
    padding: 10px;
    // border: 1px solid blue;
    box-sizing: border-box;
    // background-color: white;
    align-items: center;
    color: $ui-black;
  }

  a > div:hover {
    border: 1px solid $ui-black;
  }

  a > div > img {
    height: 30px;
    margin-right: 20px;
  }

  .list-item-odd {
    background-color: $ui-white;
  }

  .list-item-even {
    background-color: $ui-off-white;
  }
}

.full-results-container {
  max-height: 70vh;
  display: flex; /*added*/
  flex-direction: column;
  overflow: auto;
}

.partial-results-container-all {
  max-height: 62vh;
  overflow: auto;

  section > .partial-results-container {
    max-height: none !important;
  }
}

.partial-results-all-title {
  text-align: center;
  background-color: $ui-white;
  padding: 5px;
  font-size: 1.1rem;
  font-weight: 500;
}
