@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap");
/* ------- breakpoints ------- */
$mobile-small: 400px;
$mobile: 600px;
$desktop: 768px;
$desktop-medium: 1000px;
$desktop-large: 1200px;

/*----- General Styling ----- */
body {
  margin: 0;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* This is to make sure that 
  embedded components behave in 
  the content box way.
   */
*,
*:before,
*:after {
  box-sizing: content-box;
}

/* set max width for images
    so they are never wider than page*/
img {
  max-width: 100%;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none !important;
}

a:visited {
  text-decoration: none !important;
}

li > a,
li > a:visited {
  color: $ui-white;
}

li > a:hover,
li > a:active {
  color: $ui-light-gray;
  cursor: pointer;
}
